* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: black;
}

.container {
  position: relative;
  width: 100%;
  margin-top: 100px;
}

.container:before {
  content: '';
  display: block;
  width: 100%;
  padding-top: 20%;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
